.aboutHeader {
    text-align: center;
    font-family: 'Your Cool Font', sans-serif;
}

.aboutText {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.characterSummary {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.characterContent {
    display: flex;
    flex-direction: row;
    /* Arrange children horizontally */
    align-items: center;
    /* Center vertically */
}

.characterName {
    font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}


.characterDescription {
    flex: 1;
    /* Take up remaining horizontal space */
    text-align: center;
    /* Center text within .characterDescription */
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    /* Add padding for spacing */
}

.characterImage {
    max-width: 100%;
    /* Make sure the image fits within the container */
    width: 300px;
    /* Set the desired width for the image (adjust as needed) */
    height: auto;
    /* Maintain aspect ratio */
}