/* Footer.module.css */

.footer {
    background-color: #555;
    /* Background color for the footer */
    padding: 10px 0;
}

.container {
    max-width: 1200px;
    /* Adjust the max-width as needed */
    margin: 0 auto;
    /* Center the content horizontally */
}

.footerText {
    color: #fff;
    /* Text color for the footer text */
    font-size: 16px;
    /* Font size for the footer text */
    text-align: center;
    /* Center-align the text */
}