/* global.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

/* Apply a smooth gradient background */
body {
  background: linear-gradient(135deg, #f7f8fa, #e0e6ed);
  margin: 0; /* Remove default margin */
  padding: 1rem; /* Add some padding */
  font-family: Arial, sans-serif; /* Specify a font family */
}

.page {
  min-height: 100vh; /* Ensure the container takes at least the full viewport height */
  display: flex;
  flex-direction: column;  
  background-repeat: repeat;

}

/* Style for the heading */
.my-heading {
  font-size: 2rem; /* Adjust the font size as needed */
  font-weight: bold;
  color: #333; /* Adjust the text color as needed */
  margin-bottom: 1rem; /* Adjust the margin as needed */
}

/* Style for the paragraph */
.my-paragraph {
  font-size: 1.25rem; /* Adjust the font size as needed */
  color: #666; /* Adjust the text color as needed */
  line-height: 1.5; /* Adjust the line height as needed */
}

a:hover {
  text-decoration: underline;
}

/* Custom styling for Next.js Link component */
/* Adjust these styles as needed for your design */
a.link {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: opacity 0.2s ease;
}

a.link:hover {
  opacity: 0.8; /* Slightly reduce opacity on hover */
}
